body {
  background-color: #0d1320;
}

.pai-imc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.imc {
  background-color: #14213D;
  color: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
}

.pre-result {
  display: none;
  align-items: center;
  flex-direction: column;
}

.pre-result #texto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-shadow: 0 0 5px #000000;
  text-align: center;
  height: 20px;
  width: 396px;
}

.pre-result #text {
  display: flex;
  align-items: flex-start;
  width: 396px;
  font-size: large;
}

.pre-result .peso {
  margin-top: 60px;
}

.pre-result .altura {
  margin-top: 40px;
}

.imc input{
  height: 60px;
  width: 400px;
  border-radius: 5px;
}

.imc button {
  background-color: #880f0f;
  border: 1px solid #000000;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 50px;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: 200px;
}

.imc button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.imc button:active {
  background-color: #520606;
  border-color: #000000;
  transform: scale(.96);
}

.imc button:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

/* Após clicar no botão */

.resultado {
  display: flex;
  align-items: center;
  width: 500px;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.resultado #res {
  color: #FCA311;
}

.post-result .categorias {
  display: flex;
  flex-direction: row;
}

.rankings {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

/*
.rankings #prim {
  margin-right: 50px;
}

.rankings #segn {
  margin-left: 50px;
}
